In [38]:
import pandas as pd
from sqlalchemy import create_engine, text

In [39]:
mysql_user = "user"
mysql_password = "password"
mysql_host = "127.0.0.1"
mysql_port = "3306"
mysql_db = "testdb"

### Conexión a la base de datos

In [40]:
engine = create_engine(f"mysql+mysqlconnector://{mysql_user}:{mysql_password}@{mysql_host}:{mysql_port}/{mysql_db}")

In [41]:
df = pd.read_csv("../data/netflix_titles.csv")

In [42]:
tabla_nombre = "Netflix"

In [49]:
df.to_sql(name=tabla_nombre, con=engine, if_exists='replace', index=False)

print(f"Datos cargados en la tabla '{tabla_nombre}' correctamente.")

Datos cargados en la tabla 'Netflix' correctamente.

### Consultas básicas SQL

In [ ]:
with engine.connect() as conn:
    # Contar filas
    result = conn.execute(text(f"SELECT COUNT(*) FROM {tabla_nombre};"))
    count = result.scalar()
    print(f"Número de filas cargadas: {count}")

    # Mostrar las 5 primeras filas
    result = conn.execute(text(f"SELECT * FROM {tabla_nombre} LIMIT 5;"))
    for row in result:
        print(row)
    
    # Series y Pelis de España
    pais = "Spain"
    result = conn.execute(text(f"""
                SELECT title, country
                FROM {tabla_nombre}
                WHERE country = :pais
                LIMIT 10;"""), {"pais": pais})
    for row in result:
        print(row)
    
    
    # Géneros más comunes
    result = conn.execute(text(f"""
            SELECT listed_in, COUNT(*) as total
            FROM {tabla_nombre}
            GROUP BY listed_in
            ORDER BY total DESC
            LIMIT 10;
        """))
    print ("Los Géneros más comunas son: ")
    for row in result:
            print(row)

Número de filas cargadas: 8807
('s1', 'Movie', 'Dick Johnson Is Dead', 'Kirsten Johnson', None, 'United States', 'September 25, 2021', 2020, 'PG-13', '90 min', 'Documentaries', 'As her father nears the end of his life, filmmaker Kirsten Johnson stages his death in inventive and comical ways to help them both face the inevitable.')
('s2', 'TV Show', 'Blood & Water', None, 'Ama Qamata, Khosi Ngema, Gail Mabalane, Thabang Molaba, Dillon Windvogel, Natasha Thahane, Arno Greeff, Xolile Tshabalala, Getmore Sithole, Cindy Mah ... (5 characters truncated) ... , Ryle De Morny, Greteli Fincham, Sello Maake Ka-Ncube, Odwa Gwanya, Mekaila Mathys, Sandi Schultz, Duane Williams, Shamilla Miller, Patrick Mofokeng', 'South Africa', 'September 24, 2021', 2021, 'TV-MA', '2 Seasons', 'International TV Shows, TV Dramas, TV Mysteries', 'After crossing paths at a party, a Cape Town teen sets out to prove whether a private-school swimming star is her sister who was abducted at birth.')
('s3', 'TV Show', 'Ganglands', 'Julien Leclercq', 'Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabiha Akkari, Sofia Lesaffre, Salim Kechiouche, Noureddine Farihi, Geert Van Rampelberg, Bakary Diombera', None, 'September 24, 2021', 2021, 'TV-MA', '1 Season', 'Crime TV Shows, International TV Shows, TV Action & Adventure', 'To protect his family from a powerful drug lord, skilled thief Mehdi and his expert team of robbers are pulled into a violent and deadly turf war.')
('s4', 'TV Show', 'Jailbirds New Orleans', None, None, None, 'September 24, 2021', 2021, 'TV-MA', '1 Season', 'Docuseries, Reality TV', 'Feuds, flirtations and toilet talk go down among the incarcerated women at the Orleans Justice Center in New Orleans on this gritty reality series.')
('s5', 'TV Show', 'Kota Factory', None, 'Mayur More, Jitendra Kumar, Ranjan Raj, Alam Khan, Ahsaas Channa, Revathi Pillai, Urvi Singh, Arun Kumar', 'India', 'September 24, 2021', 2021, 'TV-MA', '2 Seasons', 'International TV Shows, Romantic TV Shows, TV Comedies', 'In a city of coaching centers known to train India’s finest collegiate minds, an earnest but unexceptional student and his friends navigate campus life.')
('La casa de papel', 'Spain')
('Valeria', 'Spain')
('Sky Rojo', 'Spain')
('Cleo & Cuquin', 'Spain')
('Locked Up', 'Spain')
('Elite', 'Spain')
('Xtreme', 'Spain')
('The Neighbor', 'Spain')
('Illegal Woman', 'Spain')
('Between Worlds', 'Spain')
Los Géneros más comunas son
('Dramas, International Movies', 362)
('Documentaries', 359)
('Stand-Up Comedy', 334)
('Comedies, Dramas, International Movies', 274)
('Dramas, Independent Movies, International Movies', 252)
("Kids' TV", 220)
('Children & Family Movies', 215)
('Children & Family Movies, Comedies', 201)
('Documentaries, International Movies', 186)
('Dramas, International Movies, Romantic Movies', 180)